.search-area{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-area select{
    text-align: center;
    -moz-appearance: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-style: oblique;

    padding: 7px 5px;
    margin-left: 10px;

    color: whitesmoke;
    background: #017196;
    border-style: none;
    border-radius: 5px;

    opacity: 0.8;
    transition: 0.5s;

    cursor: pointer;
}

select option{
    cursor: pointer;
}

.search-area button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-style: oblique;

    padding: 7px 12px;
    margin-left: 10px;

    color: whitesmoke;
    background: #017196;
    border-style: none;
    border-radius: 5px;

    opacity: 0.8;
    transition: 0.5s;

    cursor: pointer;
}

.search-area button:hover{
    opacity: 1;
}

.search-area select:hover{
    opacity: 1;
}

.search-area input{
    font-size: medium;
    font-weight: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: #017196;
    background:#fff;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.5s;
    opacity: 0.8;
    cursor: pointer;
}

.search-area input:hover{
    opacity: 1;
}

.search-area input:focus{
    border: 2px solid yellow;
    opacity: 1;
    transition: 2s;
}

.search-area input::-moz-placeholder{
    font-size: small;
} 

.search-area input:focus::-moz-placeholder{
    color: transparent
} 


